/*
Title: Screen styles
Author: Matthew Mesaros (mesaros.creative@gmail.com)
*/

/* =RESET
----------------------------------------------- */
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    font-size: 100%;
    font-style: normal;
}

blockquote, q {
    quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img, object { max-width: 100%; }

/* =REUSABLE
----------------------------------------------- */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.group { display: inline-block; }

/* Hides from IE-mac \*/
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End hide from IE-mac */

.amp {
    font-family: Baskerville,"Goudy Old Style",Palatino,"Book Antiqua",Constantia,Georgia,serif;
    font-style: italic;
}

/* =LINKS
----------------------------------------------- */

a:link, a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #FFF;
}

/* =SOCIAL
----------------------------------------------- */
.social {
    background: #FFF;
    right: 0;
    padding: 6px 6px 6px 0;
    position: fixed;
    top: 15%;
    width: auto;
    z-index: 100;
}

.icon img { height: 100%; }
    
a.icon {
    display: block;
    float: left;
    height: 40px;
    margin-left: 5px;
    opacity: 0.5;
    -webkit-transition: opacity linear 0.2s;
}

a.icon:first-child {
    margin-left: 0;
}
    
a.icon:hover {
    opacity: 0.9;
}

.social:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -52px;
	top: 0;
	border-width: 26px 26px;
	border-style: solid;
	border-color: #FFF #FFF #FFF transparent;
    z-index: 99;
}

/* =GLOBALS
----------------------------------------------- */
body {
    background-image: url(../img/broken_noise.jpg) repeat 0 0 transparent;
    color: #333;
    font-family: "proxima-nova";
    font-size: 100%;
    height: 100%;
    line-height: 1.45;
    position: relative;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 70em;
    text-align: center;
    z-index: 1000;
}

section {
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 100;
}

section article {
    padding: 150px 0 70px;
    position: relative;
    text-align: left;
    width: 100%;
}

section p {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: left;
}

h1, h2, h3, h4 {
    font-family: "proxima-nova";
    font-weight: 700;
}

h2 {
    background: #FFF;
    color: #333;
    display: block;
    font-size: 2.5em;
    font-weight: 900;
    left: 0;
    line-height: 0;
    padding: 30px;
    position: absolute;
    top: 70px;
    text-transform: uppercase;
    z-index: 99999;
}

h2:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	right: -62px;
	top: 0;
	border-width: 30px 30px;
	border-style: solid;
	border-color: #FFF transparent #FFF #FFF;
    z-index: 99;
}

.altgreen {
    background: rgb(13%, 69%, 39%)!important;
    color: #FFF!important;
}

.altgreen:after {
    border-color: rgb(13%, 69%, 39%) transparent rgb(13%, 69%, 39%) rgb(13%, 69%, 39%)!important;
}

h3 {
    font-size: 2em;
    text-align: left;
}

h4 {
    font-size: 1.5em;
    text-align: left;
}

.col-1 {
    float: left;
    text-align: left;
    width: 48%;
}

.col-2 {
    float: right;
    width: 48%;
}

.block {
    display: block;
}

/* =NAVIGATION
----------------------------------------------- */
header {
    background: rgba(32,32,32,0.99);
    height: 60px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    -webkit-transition: all ease 0.5s;
}

#navMain ul {
    height: 100%;
    text-align: center;
}

#navMain ul li {
    display: inline-block;
    height: auto;
    position: relative;
    vertical-align: middle;
}

#navMain ul li[data-type*="link"] a {
    color: #FFF;
    display: block;
    font-size: 1em;
    font-weight: 500;
    height: 100%;
    letter-spacing: 1px;
    line-height: 60px;
    padding: 0 30px;
    text-transform: uppercase;
    -webkit-transition: all ease 0.5s;
}

#navMain ul li[data-type*="link"]:hover:after {
    background: #20AF64;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
}

#navMain ul li[data-type*="link"] a:hover {
    background: #FFF;
    color: #202020;
}

.active {
    background: #FFF;
    color: #202020 !important;
}

.liActive:after {
    background: #20AF64;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
}

.logotype {
    background: url(../img/branding2.svg) no-repeat center transparent;
    background-size: cover;
    display: block;
    line-height: 80px;
    margin: 0 30px;
    text-indent: -3000px;
    width: 120px;
}

#navScroll {
    background: rgba(51,51,50,0.9);
    border-bottom: 4px solid rgba(0,0,0,0.3);
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
}

#navScroll ul li a {
    color: #FFF;
    line-height: 1;
}

#navScroll ul li a:hover {
    background: rgba(135,182,25,0.9);
    color: #333332;
}

/* =HOME
----------------------------------------------- */
#home {
    background-color: rgba(32,175,100,1.0);
    background-image: url(../img/noisy_net.png) 0 0 repeat transparent;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.branding {
    margin-bottom: 3em;
    width: 100%;
}

.branding object {
    width: 100%;
}

#home article strong {
    color: #333;
}

#home article strong:after {
    color: #FFF;
    content: "v";
    display: block;
    font-weight: 600;
    -webkit-transform: scale(4);
}

/* =UPDATES
----------------------------------------------- */
#updates p {
    font-size: 1.5em;
}

#updates article img {
    float: left;
    margin-right: 1.5em;
    width: 25%;
}

/* =ABOUT
----------------------------------------------- */
#about {
    background: url(../img/broken_noise.jpg) repeat 0 0 transparent;
    color: #FFF;
}

#about p {
    color: #FFF;
    margin: 1em 0;
}

#about h4 {
    margin: 0.5em 0;
}

#breakdown { display: inline-block; }

/* =VENUES
----------------------------------------------- */
#venues article {
    background: rgba(255,255,255,0.99);
    bottom: 40px;
    padding: 30px;
    position: absolute;
    right: 0;
    width: 30%;
    -webkit-backface-visibility: hidden;
}

#venues h4 {
    background: rgb(13%, 69%, 39%);
    color: #FFF;
    bottom: 200px;
    font-size: 2em;
    font-weight: 700;
    left: 0;
    letter-spacing: 1px;
    padding: 30px;
    position: absolute;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
}

#venues h4 address {
    display: block;
    font-size: 0.5em;
    font-weight: 600;
    position: relative;
}

/* =LINEUP
----------------------------------------------- */
#lineup {
    background: url(../img/broken_noise.jpg) repeat 0 0 transparent;
    color: #FFF;
}

/* =WORKSHOPS
----------------------------------------------- */
#workshops {
    background-color: rgba(32,175,100,1.0);
    color: #FFF;
}

/* =SUBMISSIONS
----------------------------------------------- */


/* =SPONSORS
----------------------------------------------- */
#sponsors {
    padding-top: 8%;
}

#sponsors .wrapper {
    width: 40%;
}

#sponsors p {
    font-size: 1.25em;
    text-align: center;
}

#sponsors ul {
    margin: 0 auto;
    width: 60%;
}

#sponsors ul li {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-right: 1em;
    position: relative;
    vertical-align: middle;
    width: 14%;
}

#sponsors ul li:hover img {
    opacity: 0.6;
}

#sponsors ul li:hover span {
    opacity: 0.8;
}

#sponsors img {
    margin-bottom: 1em;
    max-width: 100%;
    opacity: 0.4;
    -webkit-transition: all ease 0.5s;
}

#sponsors span {
    font-size: 1.5em;
    font-weight: 400;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
}

/* =DONATE
----------------------------------------------- */
#donate p {
    color: #333;
    font-size: 1.5em;
}

.form_button {
    padding: 16px 8px;
    background-color: #61e69d;
    cursor: pointer;
    font-size: 3em;
    font-weight: 700;
    color: #FFFFFF;
    border-bottom: 4px solid #5cd994;
    margin: 0px 15px 15px 0px;
    border-radius: 5px;
    text-align: center;
    width: 360px;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.form_button:hover {
    background-color: #6bf5a9;
}

/* =TICKETS
----------------------------------------------- */
#tickets div {
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    color: #FFF;
    display: inline-block;
    height: 260px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    width: 30%;
}

#tickets h2 {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
}

#ticketSingle {
    background: #999;
}

#ticketDay {
    background: #666;
}

#ticketWeek {
    background: #333;
}


/* =STAFF
----------------------------------------------- */
#staff {
    background: #20AF64;
    color: #FFF;
}

#staff .wrapper {
    max-width: 75em;
    text-align: center;
}

.staffBio {
    margin: 20px auto 0;
    text-align: left;
    vertical-align: top;
    width: 49%;
}

.photoID {
    margin-right: 2%;
    text-align: center;
    width: 30%;
}

.photoID img {
    width: 80%;
}

h4 strong {
    font-weight: 600;
}

.floatLeft > * {
    float: left;
}

.floatRight > * {
    float: right;
}

.floatRight img {
    margin-left: 4%;
    margin-right: 0 !important;
}

.staffBio p {
    font-size: 0.9em;
    width: 68%;
}

.staffMember .icon {
    display: none;
    position: absolute;
    top: 0;
    left: 900px;
}

/* =CONTACT
----------------------------------------------- */
#contact {
    background: url(../img/broken_noise.jpg) repeat 0 0 transparent;
}

#contact article {
    color: rgba(255,255,255,0.9);
}


#contact p {
    float: left;
    margin-right: 2em;
    width: 60%;
}

#contact ul {
    float: left;
}

@media only screen
and (max-width: 1152px) {
    header {
        height: 50px !important;
    }
    
    #navMain ul li[data-type*="link"] a {
        font-size: 0.875em;
        line-height: 50px !important;
        padding: 0 20px;
    }

.logotype {
    line-height: 50px !important;
    width: 100px;
}

}

@media only screen
and (max-width: 850px) {
    header {
        bottom: 0;
        position: absolute;
        height: auto !important;
        top: auto;
    }

    #navMain ul li[data-type*="link"] {
        width: 48.855%;
    }

    #navMain ul li[data-type*="link"] a {
        padding: 0 !important;
    }

    .logotype {
        display: none;
    }

    #home {
        padding-top: 1em !important;
    }

#gogoBox {
    padding: 20px;
}
    
    #gogoBox p {
        font-size: 1em;
    }

a.icon {
    display: none !important;
}


}


@media only screen
and (min-width: 200px)
and (max-width: 700px) {
    
section article {
    padding: 12px;
}

header img {
    margin-top: 2em;
    padding: 0 2em;
}

#headline span {
    display: block;
}

#headline span, #headline address {
    font-size: 3em;
}

.staffBio {
    width: 70%;
}

.staffBio p {
    display: none;
}

.photoID {
    margin-right: 0!important;
    width: 100%;
}

.staffMember {
    display: block;
    margin: 0 auto;
    padding-right: 0;
    width: 80%;
}

.venue {
    width: 100%;
}
    

}

@media only screen
and (min-width: 1024px) {

    body { background-size: cover; }
    

    
}
/*
==============================================
pulse
==============================================
*/

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

