/*
Title: Screen styles
Author: Matthew Mesaros (mesaros.creative@gmail.com)
*/

/* =RESET
----------------------------------------------- */
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    font-size: 100%;
    font-style: normal;
}

blockquote, q {
    quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img, object { max-width: 100%; }

/* =REUSABLE
----------------------------------------------- */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.group { display: inline-block; }

/* Hides from IE-mac \*/
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End hide from IE-mac */

.amp {
    font-family: Baskerville,"Goudy Old Style",Palatino,"Book Antiqua",Constantia,Georgia,serif;
    font-style: italic;
}

/* =LINKS
----------------------------------------------- */

a:link, a:visited {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: all ease 0.2s;
}

a:hover {
    color: #FFF;
}

/* =GLOBALS
----------------------------------------------- */
body {
    background-image: url(../img/broken_noise.jpg) repeat 0 0 transparent;
    color: #333;
    font-family: "proxima-nova";
    font-size: 100%;
    height: 100%;
    line-height: 1.45;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 70em;
    z-index: 1000;
}

section, footer {
    text-align: center;
    padding: 150px 0 70px;
    position: relative;
    width: 100%;
    z-index: 100;
}

section article {
    position: relative;
    text-align: left;
    width: 100%;
}

section p {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: left;
}

h1, h2, h3, h4 {
    font-family: "proxima-nova";
    font-weight: 700;
}

h2 {
    background: #FFF;
    color: #333;
    display: block;
    font-size: 2.5em;
    font-weight: 900;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    top: 70px;
    text-transform: uppercase;
    z-index: 99999;
}

h2:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	right: -46px;
	top: 0;
	border-width: 22px 22px;
	border-style: solid;
	border-color: #FFF transparent #FFF #FFF;
    z-index: 99;
}

.altgreen {
    background: rgb(13%, 69%, 39%)!important;
    color: #FFF!important;
}

.altgreen:after { border-color: rgb(13%, 69%, 39%) transparent rgb(13%, 69%, 39%) rgb(13%, 69%, 39%)!important; }

h3 {
    font-size: 2em;
    text-align: left;
}

h4 {
    font-size: 1.5em;
    text-align: left;
}

h5 {
    font-size: 1.25em;
    font-weight: 600;
}

strong { font-weight: 600; }

.col-1 {
    float: left;
    text-align: left;
    width: 48%;
}

.col-2 {
    float: right;
    width: 48%;
}

.block { display: block; }

.noiseBG {
    background: url(../img/broken_noise.jpg) repeat 0 0 transparent;
    background-attachment: fixed;
    color: #FFF;
}

/* =FIXED ITEMS
----------------------------------------------- */
.social {
    background: hsl(148, 68%, 50%);
    right: 0;
    padding: 6px 6px 6px 0;
    position: fixed;
    top: 20%;
    width: 95px;
    z-index: 100;
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.social:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	left: -51px;
	top: 0;
	border-width: 26px 26px;
	border-style: solid;
	border-color: hsl(148, 68%, 50%) hsl(148, 68%, 50%) transparent transparent;
    z-index: 99;
}

.social a img { height: 100%; }

.social a {
    display: block;
    float: left;
    height: 39px;
    margin-left: 5px;
    opacity: 0.6;
    -webkit-transition: opacity linear 0.2s;
}

.social a:hover { opacity: 0.9; }

.social a:first-child { margin-left: 0; }

#backToTop::before {
    bottom: 0;
	content: '';
    left: 50%;
	position: fixed;
	width: 0;
	height: 0;
	border-width: 30px;
	border-style: solid;
	border-color: transparent transparent hsl(148, 68%, 41%) transparent;
    z-index: 100;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#backToTop:hover::before {
    border-color: transparent transparent hsl(148, 68%, 50%) transparent;
}

/* =NAVIGATION
----------------------------------------------- */
header {
    background: url(../img/broken_noise.jpg) repeat 0 0 transparent;
    height: 60px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    -webkit-transition: all ease 0.5s;
}

#navMain ul {
    height: 100%;
    text-align: center;
}

#navMain ul li {
    display: inline-block;
    height: auto;
    position: relative;
    vertical-align: middle;
}

#navMain ul li a {
    color: #FFF;
    display: block;
    font-size: 1em;
    font-weight: 500;
    height: 100%;
    letter-spacing: 1px;
    line-height: 60px;
    padding: 0 30px;
    text-transform: uppercase;
    -webkit-transition: all ease 0.5s;
}

#navMain ul li:hover:after {
    background: #20AF64;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
}

#navMain ul li[data-type*="link"] a:hover, #navMain ul li.active a {
    background: #FFF;
    color: #202020;
}

.liActive:after {
    background: #20AF64;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
}

.logotype {
    background: url(../img/branding2.svg) no-repeat center transparent;
    background-size: cover;
    display: inline-block;
    line-height: 60px;
    margin: 0 30px;
    text-indent: -3000px;
    width: 120px;
}

/* =HOME
----------------------------------------------- */
#home {
    background-color: rgba(32,175,100,1.0);
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 101;
}

.branding {
    margin: 0 auto;
    margin-bottom: 3em;
    width: 90%;
}

.branding img {
    height: 100%;
    width: 100%;
}

#home article strong {
    color: #333;
    font-weight: 700;
}

#home article strong:after {
    color: #FFF;
    content: "v";
    display: block;
    font-weight: 600;
    position: relative;
    -webkit-transform: scale(4);
}

#donateButton {
    background: hsl(322, 50%, 26%);
    font-weight: 700;
    padding: 10px 16px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 13%;
}

#donateButton:hover { background: hsl(322, 50%, 23%); }

#donateButton:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 101px;
	top: 0;
	border-width: 18px 18px;
	border-style: solid;
	border-color: hsl(321, 50%, 18%) hsl(321, 50%, 18%) transparent transparent;
    z-index: 99;
}

/* =UPDATES
----------------------------------------------- */
#updates p { font-size: 1.25em; }

#updates time {
    font-size: 1.25em;
    font-weight: 600;
    text-align: left!important;
}

#updates article img {
    float: right;
    margin-right: 1.5em;
    width: 25%;
}

#updates a { color: hsl(149, 69%, 41%); }

#updates a:hover { color: hsl(149, 69%, 34%); }

/* =ABOUT
----------------------------------------------- */
#about h4 { margin: 0.5em 0; }

/* =VENUES
----------------------------------------------- */
#venues { padding: 0!important; }

#venues article {
    background: rgba(255,255,255,0.99);
    bottom: 40px;
    padding: 30px;
    position: absolute;
    right: 0;
    width: 30%;
    -webkit-backface-visibility: hidden;
}

#venues h4 {
    background: rgb(13%, 69%, 39%);
    color: #FFF;
    bottom: 200px;
    font-size: 2em;
    font-weight: 700;
    left: 0;
    letter-spacing: 1px;
    padding: 30px;
    position: absolute;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
}

#venues h4 address {
    display: block;
    font-size: 0.5em;
    font-weight: 600;
    position: relative;
}

/* =LINEUP
----------------------------------------------- */


/* =WORKSHOPS
----------------------------------------------- */
#workshops {
    background-color: rgba(32,175,100,1.0);
    color: #FFF;
}

/* =SUBMISSIONS
----------------------------------------------- */


/* =SPONSORS
----------------------------------------------- */
#sponsors .wrapper {
    padding-top: 0;
    width: 50%;
}

#sponsors ul {
    margin: 2em auto 0;
    width: 60%;
}

#sponsors ul li {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-right: 1em;
    position: relative;
    vertical-align: middle;
    width: 14%;
}

#sponsors ul li:hover img { opacity: 0.6; }

#sponsors ul li:hover span { opacity: 0.8; }

#sponsors img {
    margin-bottom: 1em;
    max-width: 100%;
    opacity: 0.4;
    -webkit-transition: all ease 0.5s;
}

#sponsors span {
    font-size: 1.5em;
    font-weight: 400;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
}

/* =DONATE
----------------------------------------------- */
#donate article {
    padding-top: 2em;
    width: 50%;
}

#donate p {
    color: #333;
    font-size: 1.25em;
    margin: 0 auto;
    text-align: left;
}

.form_button {
    padding: 16px 8px;
    background-color: #61e69d;
    cursor: pointer;
    font-size: 3em;
    font-weight: 700;
    color: #FFFFFF;
    border-bottom: 4px solid #5cd994;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    width: 360px;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.form_button:hover {
    background-color: #6bf5a9;
}

#donate form img {
    display: block;
    margin: 0 auto;
}

/* =STAFF
----------------------------------------------- */
#staff ul {
    margin: 5em 0 10em;
    text-align: center;
}

#staff ul li {
    cursor: pointer;
    display: inline-block;
    margin-right: 6em;
    position: relative;
    text-align: center;
}

#staff ul li:last-child { margin-right: 0; }

#staff ul li::after {
    display: block;
    position: absolute;
    top: 200px;
    left: -70%;
    width: 300%;
    height: auto;
    background: #FFF;
    /*border: 4px solid #00CEFF;*/
    opacity: 0;
    padding: 20px;
    color: #323232;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    text-align: left;
    z-index: 999999;
}

#staff ul li:hover::after { opacity: 1; }

#keeler::after {
    content: "Born and raised in Sioux City, Lee is a comedy writer and producer living in Los Angeles. He received his MFA in Dramatic Writing with honors from the Savannah College of Art and Design. He has written for ScreenJunkies.com, The Devastator Quarterly, Crave Comedy Online and more; this work has turned up in places like The A.V. Club, The Huffington Post and /Film. Keeler produces and hosts The Hour of Power Hour, a monthly comedy variety event at the Improv Hollywood that regularly sells out. The show has consistently boasted some of the finest voices in comedy today, including TJ Miller, Kyle Kinane, David Spade, Greg Proops, Paul Scheer, Maria Bamford and many more.";
}

#mesaros::after {
    content: "Matthew hails from Savannah, Georgia but has made his home in Iowa City, Iowa as a web developer, writer, designer and pool junkie. He currently attends the University of Iowa pursuing a BFA in Graphic Design while working for Epiphany Design Co, a local web development startup. He has written film reviews for the local Iowa City monthly "Little Village" and he is also the founder, designer and curator of Cinelogue, an online film essay journal. He is a dedicated Atlanta Braves fan and occasionally performs pieces for 12 string guitar around town.";
}

#watkins::after {
    content: "Ohio born Evan Watkins is a comedy content producer based in Los Angeles. He's quickly made a name for himself producing video content for The Laugh Factory comedy club's online markets. He's had a hand in creating various sketches, podcasts and stand-up clips, working alongside comedians such as Dom Irrera, Adam Ray, Finesse Mitchell and many more. As for live comedy, he wrote and produced a year-long run of a successful standup and sketch show, "Comedy Slice" at the Hollywood Improv club. He is currently a sketch comedy writer and performer at the Improv Olympic West Theater, an avid hockey fan, and podcaster. His Pittsburgh themed Yinzcast can be found on iTunes.";
}

#eadon::after {
    content: "Derek Eadon is a political and public affairs strategist from West Des Moines, IA. Derek has worked for political campaigns, non-profits, and large businesses. He specializes in organization building, integrated planning, and event management. Derek has led efforts on hundreds of events including: the 2013 Harkin Steak Fry, Barack Obama’s 2009 Inauguration, and Barack Obama’s 2012 3-day bus tour of Iowa.";
}


@media only screen
and (max-width: 1152px) {
    header {
        height: 50px !important;
    }
    
    #navMain ul li[data-type*="link"] a {
        font-size: 0.875em;
        line-height: 50px !important;
        padding: 0 20px;
    }

.logotype {
    line-height: 50px !important;
    width: 100px;
}

}

@media only screen
and (max-width: 850px) {
    header {
        bottom: 0;
        position: absolute;
        height: auto !important;
        top: auto;
    }

    #navMain ul li[data-type*="link"] {
        width: 48.855%;
    }

    #navMain ul li[data-type*="link"] a {
        padding: 0 !important;
    }

    .logotype {
        display: none;
    }

    #home {
        padding-top: 1em !important;
    }

}

@media only screen
and (min-width: 200px)
and (max-width: 700px) {
    
section article {
    padding: 12px;
}

header img {
    margin-top: 2em;
    padding: 0 2em;
}

#headline span {
    display: block;
}

#headline span, #headline address {
    font-size: 3em;
}

.staffBio {
    width: 70%;
}

.staffBio p {
    display: none;
}

.photoID {
    margin-right: 0!important;
    width: 100%;
}

.staffMember {
    display: block;
    margin: 0 auto;
    padding-right: 0;
    width: 80%;
}

.venue {
    width: 100%;
}
    

}

@media only screen
and (min-width: 1024px) {

    body { background-size: cover; }
    
}
/*
==============================================
pulse
==============================================
*/

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}